* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url(bootstrap-grid.min.css);
@import "build/font.scss";


$PFDBold: 'PF Din Text Comp Pro Bold';
$PFDMedium: 'PF Din Text Comp Pro Medium';
$ProxyBold: 'Proxima Nova Rg';
$ProxyLight: 'Proxima Nova Lt';
$GreenBasic: #00824c;
$OrangeBasic: #ff5a30;
$GreyBasic: #e8e8e8;

.header {
	max-width: 1920px;
	width: 100%;
	height: 790px;
	background-image: url('../img/header_bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.container {
		.row {
			padding-top: 34px;
			
			.col-xl-4 {
				height: 38px;

				.logo {
					display: block;
					height: 38px;
					margin: 0 auto;
				}

				.point {
					float: left;
					height: 38px;
					margin-right: 30px;
				}

				span {
					display: block;
					color: white;
					font-family: $ProxyLight;
					font-size: 12px;
					font-weight: 300;
					
				}

				.bold {
					display: block;
					font-family: $ProxyBold;
					font-size: 14px;
					font-weight: 700;
				}

				.phone {
					float: right;
					height: 38px;
					margin-left: 30px;
				}

				.green {
					display: block;
					text-align: right;
					font-family: $ProxyLight;
					font-size: 12px;
					color: $GreenBasic;
				}

				.tel {
					display: block;
					text-align: right;
					margin-top: 5px;
					font-family: $ProxyBold;
					font-size: 18px;
				}
			}
		}
	}

	h1 {
		text-align: center;
		color: lighten($GreenBasic, 20%);
		font-family: $PFDMedium;
		font-size: 66px;
		text-transform: uppercase;
		padding-top: 200px;
	}

	.header_green {
		width: 515px;
		margin: 30px auto;
		text-align: center;
		color: lighten($GreenBasic, 20%);
		font-family: $PFDBold;
		font-size: 29px;
		text-transform: uppercase;
		padding-top: 20px;
	}

	.header_descr {
		width: 410px;
		color: white;
		text-align: center;
		margin: 20px auto;
		font-size: 20px;
		font-family: $ProxyLight;

		.descr_bold {
			font-family: $ProxyBold;
			font-size: 22px;
		}
	}

	.arrow {
		display: block;
		margin: 0 auto;
	
	}

}

@import "build/media.scss";
